<div class="container-fluid">
  <h3 class="p-5">レシピ一覧</h3>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <table class="table ml-5">
        <tbody>
          <tr class="bg-light">
            <th>レシピID</th>
            <th>タイトル</th>
            <th>投稿者名</th>
            <th>投稿日時</th>
          </tr>

          <% @recipes.each do |recipe| %>
            <tr>
              <td>
                <%= link_to admin_recipe_path(recipe) do %>
                  <%= recipe.id %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_recipe_path(recipe) do %>
                  <%= recipe.title %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_user_path(recipe.user) do %>
                  <%= recipe.user.name %>
                <% end %>
              </td>
              <td><%= recipe.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div>
        <%= paginate @recipes %>
      </div>
    </div>
  </div>
</div>
