<%= form_with model: @recipe, url: recipe_path, id: "edit_recipe", class: "edit_recipe form-horizontal", local: true do |f| %>
  <%= render "public/users/shared/error_messages", resource: @recipe %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="row">
    <div class="form-group mt-5 mx-auto">
      <p class="text-center">レシピ画像</p>
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class="row">
    <div class="form-group mt-5 mx-auto">
      <p class="text-center">レシピ名</p>
      <%= f.text_field :title, placeholder: "レシピ名", size: "45" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group mt-5 mx-auto">
      <p class="text-center">カテゴリー</p>
      <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "カテゴリーを選んでください" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group mt-5 mx-auto">
      <p class="text-center">レシピ説明</p>
      <%= f.text_area :introduction, placeholder: "ここにレシピの説明を書いてください", size: "40x5" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group mt-5 mx-auto">
      <p class="text-center">何人分</p>
      <%= f.text_field :serving, placeholder: "1人分" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group mt-5 mx-auto">
      <p class="text-center">材料</p>
      <%= f.fields_for :ingredients do |ingredient| %>
        <%= render "ingredient_fields", f: ingredient %>
      <%end%>
      <div class="links">
        <%= link_to_add_association "材料を追加", f, :ingredients  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group mt-5 mx-auto">
      <p class="text-center">手順</p>
      <%= f.fields_for :procedures do |procedure| %>
        <%= render "procedure_fields", f: procedure %>
      <%end%>
      <div class="links">
        <%= link_to_add_association "手順を追加", f, :procedures %>
      </div>
    </div>
  </div>

  <div class="row mt-4 pb-5">
    <div class="form-inline mx-auto">
      <%= f.submit "編集", class: "btn btn-success btn-block" %>
    </div>
  </div>
<% end %>
