<%= form_with model: @recipe, url: recipes_path, id: 'new_recipe', class: 'new_recipe form-horizontal', local: true do |f| %>
  <%= render "public/users/shared/error_messages", resource: @recipe %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field form-group row">
    <%= f.label :"レシピ画像", class: "col-md-3 control-label h5" %>
    <%= f.attachment_field :image, class: "col-md-5 form-control-file recipe_image" %>
  </div>

  <div class="field form-group row">
    <%= f.label :"レシピ名", class: "col-md-3 control-label h5" %>
    <%= f.text_field :title, placeholder: "レシピ名", autofocus: true, class: "col-md-5" %>
  </div>
  
  <div class="field form-group row">
    <%= f.label :"カテゴリー", class: "col-md-3 control-label h5" %>
    <%= f.collection_select :tag_id, @tags, :id, :name, prompt: "カテゴリーを選んでください" %>
  </div>

  <div class="field form-group row">
    <%= f.label :"レシピ説明", class: "col-md-3 control-label h5" %>
    <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", size: "20x10", class: "col-md-5" %>
  </div>

  <div class="field form-group row">
    <%= f.label :"何人分", class: "col-md-3 control-label h5" %>
    <%= f.text_field :serving, placeholder: "何人分", class: "col-md-5" %>
  </div>

  <div class="field form-group row", id="ingredients">
    <%= f.label :"材料", class: "col-md-3 control-label h5" %>
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', f: ingredient %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "材料を追加", f, :ingredients, data: { association_insertion_node: '#ingredients', association_insertion_method: 'append' }  %>
    </div>
  </div>

  <div class="field form-group row", id="procedures">
    <%= f.label :"手順", class: "col-md-3 control-label h5" %>
    <%= f.fields_for :procedures do |procedure| %>
      <%= render 'procedure_fields', f: procedure %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "手順を追加", f, :procedures %>
    </div>
  </div>

  <div class="field form-group row">
    <%= f.label :"炭水化物(g)", class: "col-md-3 control-label h5" %>
    <%= f.number_field :carbohydrate, step: "0.1", class: "col-md-5" %><p class="mt-3 ml-2 h5">g</p>
  </div>

  <div class="field form-group row">
    <%= f.label :"タンパク質(g)", class: "col-md-3 control-label h5" %>
    <%= f.text_field :protein, step: "0.1", class: "col-md-5" %><p class="mt-3 ml-2 h5">g</p>
  </div>

  <div class="field form-group row">
    <%= f.label :"脂質(g)", class: "col-md-3 control-label h5" %>
    <%= f.text_field :fat, step: "0.1", class: "col-md-5" %><p class="mt-3 ml-2 h5">g</p>
  </div>

  <div class="actions row">
    <%= f.submit "新規登録", class: "btn btn-success btn-block col-md-3 offset-md-3" %>
  </div>
<% end %>