<div class="container">
  <% if params[:category_search].present? && @recipes.present?%>
    <h3 class="m-5">カテゴリー"<%= @recipes.first.category.name %>"のレシピ一覧</h3>
    <span>(全<%= @recipes_count.count %>件)</span>
  <% else %>
    <h3 class="m-5">レシピ一覧</h3>
    <span>(全<%= @recipes_count.count %>件)</span>
  <% end %>

  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4 col-sm-12 text-center">
        <div class="card mb-4 shadow-sm">
          <%= link_to recipe_path(recipe) do %>
          　<%= attachment_image_tag recipe, :image, :fill, 270, 235, class: "img-responsive center-block" %>
          　<div class="card-body text-dark" style="height:200px">
          　   <h4><%= recipe.title %></h4>
          　   <h6><%= recipe.introduction.truncate(50) %></h6>
              <h6>by  <%= recipe.user.name %></h6>
          　</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @recipes %>
