<div class="container">
  <h2><%= @recipe.title %></h2>
  <h6><%= @recipe.introduction %></h6>
  <h6>by  <%= link_to @recipe.user.name, user_path(@recipe.user) %></h6>
  <% if user_signed_in? %>
    <div id="favorite_<%= @recipe.id %>">
      <%= render "public/favorites/favorite", recipe: @recipe %>
    </div>
  <% end %>
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12">
      <%= attachment_image_tag @recipe, :image, :fill, 460, 400 %>
    </div>
    <div class="col-md-6 col-sm-12 mx-auto text-center">
      <h2>カロリー表</h2>
      <h4>総カロリー:<%= @recipe.total_calory %>kcal</h4>
      炭水化物:<%= @recipe.carbo_calory %>kcal;
      タンパク質:<%= @recipe.protein_calory %>kcal;
      脂質:<%= @recipe.fat_calory %>kcal
      <%= render "calorie_graph", recipe: @recipe %>
    </div>
  </div>

  <div class="row">
    <h5 class="d-inline-block pt-5">材料(<%= @recipe.serving %>)</h5>
    <table class="table table-striped">
      <tbody>
        <% @recipe.ingredients.each do |ingredient| %>
          <tr>
            <td class="col-3"><%= ingredient.name %></td>
            <td class="col-3"><%= ingredient.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h5 class="d-inline-block pt-4">手順</h5>
    <table class="table">
      <tbody>
        <% @recipe.procedures.each do |procedure| %>
          <tr>
            <td class="col-3"><%= procedure.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row pt-5">
    <ul id="recipe_<%= @recipe.id %>">
      <li>
        <h4 class="comments-count">コメント(<%= @recipe.comments.count %>件のコメント)</h4>
      </li>
      <li id="comments">
        <%= render "public/comments/index", recipe: @recipe %>
      </li>
    </ul>
    <% if user_signed_in? %>
      <div class="new-comment col-12 p-0">
        <h3>コメントする</h3>
        <%= form_with model: [@recipe, @comment] do |f| %>
          <%= f.text_area :comment, size:"90x5", placeholder: "コメントを入力してください" %>
          <div>
            <%= f.submit "送信", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
