<div class="container">
  <div class="row">
    <h3 class="bg-light p-3 my-4">新規会員登録</h3>
    <div class="col-sm-12 mx-auto pb-5">

      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "public/users/shared/error_messages", resource: resource %>

        <div class="field form-group row">
          <%= f.label :"名前", class: "col-sm-3 control-label" %>
          <%= f.text_field :name, placeholder: "田中太郎", autofocus: true, size: 30 %>
        </div>

        <div class="field form-group row">
          <%= f.label :"メールアドレス", class: "col-sm-3 control-label" %>
          <%= f.email_field :email, placeholder: "sample@example.com", autocomplete: "email", size: 30 %>
        </div>

        <div class="field form-group row">
          <%= f.label :"パスワード（6文字以上）", class: "col-sm-3 control-label" %>
          <%= f.password_field :password, autocomplete: "new-password", size: 30 %>
        </div>

        <div class="field form-group row">
          <%= f.label :"パスワード（確認用）", class: "col-sm-3 control-label" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 30 %>
        </div>

        <div class="actions row">
          <%= f.submit "新規登録", class: "btn btn-success btn-block col-sm-3 offset-sm-3" %>
        </div>
      <% end %>
    </div>

    <h4 class="bg-light p-3 my-4">既に登録済みの方</h4>
    <div class="col-sm-12 ">
      <%= render "public/users/shared/links" %>
    </div>
  </div>
</div>