<nav class="navbar navbar-expand-lg navbar-light bg-dark w-100 pr-0 pl-0">
  <div class="container-fluid">
    <h1><%= link_to "トレ飯", root_path, class: "text-light text-decoration-none mt-4 header-logo"%></h1>
    <% unless admin_signed_in? %>
      <div class="ml-5">
        <%= form_with url: recipes_path, method: :get, local: true do |f| %>
          <div class="form-inline">
            <%= f.text_field :search, placeholder: "レシピを検索", class: "form-control col-10 p-0", size: 50 %>
            <%= f.button :type => "submit", name: nil, class: "form-control col-2 btn btn-success", style: 'border-style: none;' do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <!--ハンバーガーメニュー-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--ナビゲーションメニュー-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item nav-menu-item">
            <%= link_to 'マイページ', user_path(current_user), class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to 'レシピ一覧', recipes_path, class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to 'レシピ投稿', new_recipe_path, class: 'nav-link text-light mr-2 header-cart' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-light mr-2' %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item nav-menu-item">
            <%= link_to "会員一覧", admin_users_path, class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to 'レシピ一覧', admin_recipes_path, class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to "カテゴリー一覧", admin_categories_path, class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to "お問い合わせ一覧", admin_contacts_path, class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light mr-2' %>
          </li>
        <% else %>
          <li class="nav-item nav-menu-item">
            <%= link_to 'トレ飯とは', about_path, class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-light mr-2' %>
          </li>
          <li class="nav-item nav-menu-item">
            <% if current_page?(admin_session_path) %>
              <%= link_to 'ゲスト管理者ログイン（閲覧用）', admins_guest_sign_in_path, method: :post, class: 'nav-link text-light mr-2' %>
          <% else %>
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'nav-link text-light mr-2' %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
