<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 pr-0 pl-0">
  <div class="container-fluid">
    <h1><%= link_to "トレ飯", root_path, class: "text-dark text-decoration-none text-left mt-4 header-logo"%></h1>
    <!--ハンバーガーメニュー-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto">
      <%= form_with url: recipes_path, method: :get, local: true do |f| %>
        <%= f.text_field :search, placeholder: "レシピを検索" %>
        <%= f.submit '検索', name: nil %>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
        <li class="nav-item nav-menu-item">
          <%= link_to 'マイページ', user_path(current_user), class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to 'レシピ一覧', recipes_path, class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to 'レシピ投稿', new_recipe_path, class: 'nav-link text-dark mr-2 header-cart' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-dark mr-2' %>
        </li>
      </ul>
    <% elsif admin_signed_in? %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
        <li class="nav-item nav-menu-item">
          <%= link_to "会員一覧", admin_users_path, class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to 'レシピ一覧', admin_recipes_path, class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to "タグ一覧", admin_tags_path, class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to "お問い合わせ一覧", admin_contacts_path, class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark mr-2' %>
        </li>

      </ul>
    <% else %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
        <li class="nav-item nav-menu-item">
          <%= link_to 'About', about_path, class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-dark mr-2' %>
        </li>
        <li class="nav-item nav-menu-item">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'nav-link text-dark mr-2' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>