<div class="container">
  <h3 class="p-5">管理者ログイン</h3>
  <div class="row">
    <div class="col-sm-12 mx-auto pb-5">

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <%= render "public/users/shared/error_messages", resource: resource %>

        <div class="field form-group row">
          <%= f.label :"メールアドレス", class: "col-sm-3 control-label" %>
          <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", size: 30 %>
        </div>

        <div class="field form-group row">
          <%= f.label :"パスワード", class: "col-sm-3 control-label" %><br />
          <%= f.password_field :password, autocomplete: "new-password", size: 30 %>
        </div>

        <div class="actions row">
          <%= f.submit "ログイン", class: "btn btn-primary btn-block col-sm-3 offset-sm-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
