<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-5 text-center">
      <%= form_with model: @user, url: user_path(@user), class: 'form-horizontal', local: true do |f| %>

        <div class="field form-group row">
          <%= f.label :"画像", class: "col-md-6 control-label h5" %>
          <%= f.attachment_field :profile_image %>
        </div>

        <div class="field form-group row">
          <%= f.label :"名前", class: "col-sm-6 control-label h5" %>
          <%= f.text_field :name, autofocus: true, size: 30 %>
        </div>

        <div class="field form-group row">
          <%= f.label :"自己紹介", class: "col-sm-6 control-label h5" %>
          <%= f.text_field :introduction, size: 30 %>
        </div>

        <div class="field form-group row">
          <%= f.submit "編集内容を保存", class: "btn btn-success col-sm-3 offset-sm-3 p-2 mt-3" %>
          <%= link_to "退会する", cancel_path(current_user), class: "btn btn-danger col-sm-2 offset-sm-1 p-2 mt-3" %>
        </div>

      <% end %>
    </div>
  </div>
</div>