<!DOCTYPE html>
<html>
  <head>
    <title>ToreMeshi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><%= render "shared/header" %></header>
    <main>
      <p id="notice" class="ml-5 mt-3"><%= notice %></p>
      <p id="alert" class="ml-5 mt-3"><%= alert %></p>
      <%= yield %>
    </main>
    <footer><%= render "shared/footer" %></footer>
  </body>
</html>
